.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 10px;
}

.dateTitle {
	flex: 1 1 0%;
	font-size: 1em;
	margin-bottom: 5px;
	font-weight: bolder;
}

.dashboard {
	flex: 0 1 50%;
}
