.wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.dateTitle {
	flex: 1 1 0%;
	font-size: 1em;
	margin-bottom: 5px;
	font-weight: bolder;
}

.dashboard {
	/*flex: 0 1 50%;*/
	height: calc(100% - 5px - 1em);
}
