.wrapper {
    box-shadow: 2px 2px 10px lightblue;
    text-align: center;
    padding: 0px;
    /*height: 100%;*/
    border-radius: 5px;
}

.event {
    background-color: lightblue;
    border: 1px lightblue solid;
}

.other {
    background-color: lightgreen;
}

.none {
    /*visibility: hidden;*/
    background-color: #bfefff;
    color: #bfefff;
}

.border {
    align-self: center;
    justify-self: center;
}

.course {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homework {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    padding-left: 2%;
    padding-top: 1%;
    font-size: 80%;
    flex: 1 1 80%;
}