.event {
	background-color: lightblue;
}

.none {
	/*visibility: hidden;*/
	background-color: #bfefff;
	color: #bfefff;
	box-shadow: 0px 0px 2px 1px #bfefff !important;

}

.border {
	align-self: center;
	justify-self: center;
}


.course {
	width: 100%;
	box-shadow: 0px 0px 2px 1px lightblue;
	text-align: center;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	display: flex;
}

.homework {
	justify-content: left;
	align-items: flex-start;
	font-size: 60%;
	text-overflow: ellipsis;
	white-space: pre-wrap;
	overflow: hidden;
}
